
## Test for Reading CSV files
### PH 212 COCC
#### Bruce Emerson 7/27/20

As we have been working with the Arduino to create a data logger which records data on a microSD card. Assuming we format the file appropriately as a csv file the pandas library is delighted to read the data into what's called a data frame. 

This quick notebook is an initial test of that process.

### Dependencies

The new dependency here is the [Pandas](https://pandas.pydata.org/) library which was developed to support data science applications in python. It is classically imported with the alias pd. It is installed as part of your Anaconda package. When you update Anaconda you can also update Pandas.

In [1]:
import numpy as np
import pandas as pd
import matplotlib as mplot
import matplotlib.pyplot as plt
from numpy.polynomial import polynomial as ply

### Read csv from Pandas

As we get deeper into python we will need to begin to develop a richer understanding of how python works. We can do this incrementally so don't panic. In Pandas there are a variety of [data structures](https://pandas.pydata.org/docs/user_guide/dsintro.html#dataframe) which are described in the pandas documentation. There is clearly a lot to learn be we will focus on [data frames](https://pandas.pydata.org/docs/user_guide/dsintro.html#dataframe) which are a data structure that matches our normal understanding of a two dimensional data set.

Notice that this data set (daily covid data for Oregon from [The COVID Tracking Project](https://covidtracking.com/data/download). In the printout of the data set the dots represent additional data not explicitly displayed but it's there.

In [9]:
dataSet = pd.read_csv("data/OregonDailydata.csv")
print(dataSet)

         date state  positive  negative  pending  hospitalizedCurrently  \
0    20200728    OR     17416    370240      NaN                  230.0
1    20200727    OR     17088    365478      NaN                  237.0
2    20200726    OR     16758    361717      NaN                  233.0
3    20200725    OR     16492    357518      NaN                  233.0
4    20200724    OR     16104    350463      NaN                  233.0
..        ...   ...       ...       ...      ...                    ...
142  20200308    OR        14       100     53.0                    NaN
143  20200307    OR         7        77     40.0                    NaN
144  20200306    OR         3        64     28.0                    NaN
145  20200305    OR         3        45     13.0                    NaN
146  20200304    OR         3        29     18.0                    NaN

     hospitalizedCumulative  inIcuCurrently  inIcuCumulative  \
0                    1537.0            58.0              NaN
1                    1514.0            58.0              NaN
2                    1474.0            58.0              NaN
3                    1474.0            58.0              NaN
4                    1474.0            58.0              NaN
..                      ...             ...              ...
142                     NaN             NaN              NaN
143                     NaN             NaN              NaN
144                     NaN             NaN              NaN
145                     NaN             NaN              NaN
146                     NaN             NaN              NaN

     onVentilatorCurrently  ...  posNeg  deathIncrease hospitalizedIncrease  \
0                     31.0  ...  387656             14                   23
1                     27.0  ...  382566              0                   40
2                     30.0  ...  378475              3                    0
3                     30.0  ...  374010              4                    0
4                     30.0  ...  366567              9                    9
..                     ...  ...     ...            ...                  ...
142                    NaN  ...     114              0                    0
143                    NaN  ...      84              0                    0
144                    NaN  ...      67              0                    0
145                    NaN  ...      48              0                    0
146                    NaN  ...      32              0                    0

                                         hash commercialScore  \
0    96abe6bb54ba6d88a3440eab36b86ec7c5ae3622               0
1    be3ecd458d3867e1fb66cfd077666fca4358b62f               0
2    54dea5baf0dcf26dd1c99f24686bec347ea9e1b3               0
3    610b9da53f838371cbd170b6d6d827fb5e0c5382               0
4    75e48d1c994652156907d3edca6b6aea4c9bbedc               0
..                                        ...             ...
142  00e412e90420e8f27899205a123ab1eb13a68da8               0
143  4d9b12762bde969bb8bd975ac494183a779a29f1               0
144  448227d63e63ce534c644835d58a69c34e69a2bc               0
145  f60adaeef1583bc463fd248f9083ffcb08852536               0
146  9e7254c20ae55dc9dc6c8fb58c9a270c3a704c2e               0

    negativeRegularScore  negativeScore  positiveScore score  grade
0                      0              0              0     0    NaN
1                      0              0              0     0    NaN
2                      0              0              0     0    NaN
3                      0              0              0     0    NaN
4                      0              0              0     0    NaN
..                   ...            ...            ...   ...    ...
142                    0              0              0     0    NaN
143                    0              0              0     0    NaN
144                    0              0              0     0    NaN
145                    0              0              0     0    NaN
146                    0              0              0     0    NaN

[147 rows x 41 columns]

### DataFrame Attributes

DataFrame is a python class which is to say it is a creature that has various predefined characteristics called attributes. These are created to make pulling out hte portion of the data set that you want

In [10]:
print(dataSet.index)

RangeIndex(start=0, stop=147, step=1)

pd.DataFrame(d, index=['d', 'b', 'a'], columns=['two', 'three'])

In [18]:
pd.DataFrame(dataSet, columns = ['date','positive'])

         date  positive
0    20200728     17416
1    20200727     17088
2    20200726     16758
3    20200725     16492
4    20200724     16104
..        ...       ...
142  20200308        14
143  20200307         7
144  20200306         3
145  20200305         3
146  20200304         3

[147 rows x 2 columns]